div {
	width: 100px;
	height: 100px;
	background-color: pink;
	-webkit-transform: width 2s,height 2s,-webkit-transform 2s;
	transition: width 2s,height 2s,transform 2s;
	-webkit-transition-delay: 2s;/*延时2s后执行旋转*/
	transition-delay: 2s;
}
div:hover {/*  div:hover---不能有空格   */
	width: 200px;
	height: 200px;
	transform: rotate(360deg);/*旋转*/
	-webkit-transform:rotate(360deg);
}
