

/*   

1. 什么是网页？
   网站： 指在intel上根据一定规则，使用html等制作的用于展示特定内容相关的网页集合
   网页： 是网站种的一页，通常是html格式文件，主要通过浏览器阅读。
   网页是构成网站的基本元素，通常由图片、链接、文字、声音、视频等元素组成。通常看到的网页以 .htm、 .html后缀结尾的文件，因此将其俗称为html文件。

2. 什么是HTML？
	超文本标记语言，用来描述网页的语言，它不是编程语言，是标记语言，标记语言是一套标记标签。
	超文本：可以加入图片、声音、动画、多媒体等内容。可以从一个文件跳转到另一个文件，与各主机文件链接(超级链接文本)
3. 网页的形成？
	由网页元素组成的，这些元素利用html标签描述，通过浏览器解析显示给用户。
	(前端人员开发代码------浏览器显示代码(解析、渲染)---------生成Web页面)

*/


/*			常用浏览器

1. 火狐、IE、谷歌、Safari、Opera
2. 浏览器内核：负责读取网页内容、整理讯息、计算、网页显示方式并显示页面。
	IE(内核)：Trident 
	firefox: Gecko(火狐浏览器内核)
	Safari: Webkit(苹果浏览器内核)
	chrome/Opera:Blink(Webkit的分支)(chrome/Opera浏览器内核);
*/

/*
			Web标准 

	1.  是W3C组织和其他标准化组织制定的一系列标准的集合，W3C(万维网联盟)是国际著名的标准化组织。

	2.  为什么需要Web标准？
		浏览器不同，导致其显示页面或排版有差异，符合标准的代码可以在不同浏览器展示统一内容(让不同的开发人员写出的页面更标准，更统一)
			优点： 
				a. 让Web的发展前景更广阔
			    b. 内容被广泛的设备访问
			    c. 能容易被引擎搜索
			    d. 降低网站流量费用
			    e. 易于维护网站
			    f. 提高网页浏览速度
	3.	Web标准的构成
		主要包括：结构(Structure)、表现(Presentation)和行为(Behavior)三方面.
			结构： 用于对于网页元素进行整理和分类(html)
			表现： 用于设置网页元素的版式、颜色、大小等外观样式(CSS)
			行为： 网页模型的定义及交互的编写(JS)
*/
/*
  			标签
  	1.  !DOCTYPE :文档类型的声明，作用就是告诉浏览器使用哪种HTML版本来显示网页;
  				 注意：它不是HTML标签，是文档类型声明标签
  	2.	语言种类：lang="en"、"zh-CN"、"fr(法语)"，对于有浏览器由警示作用，告诉浏览器是中文网站还是英文
  	3.	字符集：meta charset="UTF-8" :不写会乱码;
	4.  <strong>、<b>: 加粗
		<em>：倾斜
		del、s：删除线
		ins、u：下划线
	5.  div、span： 无语义，是一个容器，用来装内容
		div： 一个div独占一行(大盒子)
		span：一行放多个span(小盒子)
	6.  图像标签 ： img
		alt：替换文本
		title：提示文本，鼠标放到图像上显示图片文字
		宽度高度任意设置一个，另外一个等比缩放
		border：边框
	7.超链接标签
		<a>：跳转去另一个页面
			target：_self:当前页面打开;
					_blank:新页面打开;
					_parent:在父级页面打开;
					_top:顶级页面打开;
	8.	style:样式引用;
			3种样式引用：外部样式表：url其他网页引用
						内部：当前文件夹中文件
						内联：当前标签内直接设置样式
		link:文本链接，图片链接;
			属性：href、name两个属性
				1) 指向另一个文档
					<a href=""></a> 
				2) 创建文档内的链接
					<a name="tips"></a>
					<a href="#tips"></a>
	9.  列表
		ol：有序列表
		ul：无序列
		li：列表项
		dl：列表
		dt：列表项
		dd：描述

		无序列表：
			ul、li
			属性：disc、circle、square（序列样式）
		有序：
			ol、li
			属性：可以设置数字、字母等序列
		自定义列表：
			dl、dt、dd

	10.	块元素显示时，通常以新行开始，如： h1、p、ul
		div元素：也被称为块元素，是组合html元素的容器
		
		内联元素：不以新行开始  如：a、b、img
		span元素：是内联元素，可作为文本的容器
		
	11. 布局
		div布局
		table布局

	12. 表单
		用于获取不同类型的用户输入
		单选按钮、复选框、下拉列表、文本域、
		新增表单属性：
			form：
			formaction：单击不同的按钮可以将表单提交到不同的页面
			formmethod：对每一个表单元素分别指定不同的提交方法
			formenctype：对表单元素分别指定不同的编码方式
				3种指定形式
					formenctype="text/plain":对特殊字符进行编码;
					formenctype="multipart/form-data":不对字符编码，在使用文件上传空间时必须使用;
					formenctype="application/x-www-form-urlencoded":发送前所有编码字符，把表单数据转换成字符;
				用法：
					<form>
						<input type="text" formenctype="text/plain"
					</form>
			formtarget：_sself、_blank、_parent
			autofocus：当画面打开时，该控件自动获得光标焦点
			required：用在多数元素上，再提交时，若元素内容为空白，则不允许提交，同时在浏览器中显示信息提市文字。
			labels
		复选框的3中状态(选取、不选取、不明状态)：
			1) checkbox：只是选取与非选取两种状态
			2) indeterminate(用于JS)已说明复选框处于“尚未明确是否选取”状态
			
			formaction="url"
		表单提交的方式：
			get、post
			formmethod="get"/formmethod="post"

		PHP环境搭建、表单和PHP的交互	
	13.框架、背景、实体
		框架：
			noresize:固定框架大小;
			内联框架：iframe
		背景：
			background:背景标签 设置背景图片;
			bgcolor:背景颜色;
		实体：
			符号的表现形式 如 < : &LT; 需要就去网上搜
	14. XHTML： 可扩展超文本标记语言 和html 4.01几乎相同 ，是更严格纯净的html版本				
		文档声明：DTD---规定使用标记语言的网页语法
		3种格式：STRICT(严格类型)
				TRANSITION(过度类型)
				FRAMESET(框架类型)

*/
/*   4.10-2021 
1. 元素：
	 artical
	 section:用于对页面上的内容进行分块，强调分段分块，article强调独立性，一个元素相对独立、完善时使用article元素，要将一块元素分为几段用section元素
	 	通常由内容和标题组成; dvi： 一个容器需要被直接定义样式或通过脚本定义行为时使用div
	 	不要将section作为页面容器（div）的工作，不能用于没有标题的语句块
	 nav
	 	应用场景：传统导航条
	 			 侧边栏导航
	 			 页内导航
	 			 翻页导航
	 aside:
	 	表示当前页面或文章的附属信息部分，包含与主要内容或页面相关的引用、侧边栏、广告、导航条及区别于主要内容的部分
	 time 与微格式：
		微格式：
	 pubdate
	 	用于time属性


2. 非主体结构元素：
	hgroup：将标题和子标题分组
	address：在文档中呈现联系信息

3. html5结构(4部分)
	显示编排内容区域块：指明确的使用section元素创建文档结构，在每个区域块使用标题（h1-h6和hgroup等）
	隐式编排内容区域块：不明确使用section元素，而是根据网页需求来使用h1-h6或hgroup标题，自动创建各级内容块。
	标题分级：若新出现的标题级别比上级低，将生成下级内容区域块，若新出现的标题比上级级别高或两者相等，将生成新的区域块
	不同区域块可以使用相同级别的标题。



*/