/*
 消除两个盒子模型间的空隙方法：在两个盒子的父级元素设置font-size：0px；两个子级元素设置font-size：16px；(如body-yes部分)
*/

* {
	margin: 0;
	padding: 0;
}
.top {
	width: 100%;
	height: 50px;
	background-color: #000;
}
.top .top-content {
	width: 75%;
	height: 50px;
	margin: 0px auto;/*上下为0，左右自动*/
	background-color: blue;
}
.body {
	margin: 20px auto;
	width: 75%;
	height: 1500px;
	background-color: pink;
}
.body .body-img {
	width: 100%;
	height: 400px;
	background-color: green;
}
.body .body-content {|
	width: 100%;
	height: 1100px;
	background: yellow;
}
.body .body-content .body-no {
	width: 100%;
	height: 50px;
	background-color: red;
}
.body .body-content .body-yes {
	width: 100%;
	height: 1050px;
	background: #eee;
	font-size: 0px;
}
.body .body-content .body-yes .body-left {
	width: 50%;
	height: 1050px;
	font-size: 16px;
	background: gold;
	display: inline-block;
}
.body .body-content .body-yes .body-right {
	width: 50%;
	height: 1050px;
	font-size: 16px;
	background: pink;
	display: inline-block;
}
.footer {
	width: 75%;
	height: 400px;
	background-color: indigo;
	margin: 0px auto;
}
.foot-content {
	width: 100%;
	height: 330px;
	background-color: #777;
}
.foot-menu {
	width: 100%;
	height: 70px;
	background-color: #000;
}
